*{
    margin: 0 15px;
     padding: 0 12px;

}

header{
    background-color: #383d58;
    color: white;
}
body{
    background-color: #383d58;
    color: white;

}
 .cabecalho-imagem{
    width: 20%;

}
.cabecalho{
    background-color: #700f0f;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    
}